Package         Version
--------------- -------
blinker         1.4    
docutils        0.14   
feedgenerator   1.9    
Jinja2          2.10   
Markdown        3.0.1  
MarkupSafe      1.1.0  
pelican         4.0.1  
pip             18.1   
Pygments        2.3.0  
python-dateutil 2.7.5  
pytz            2018.7 
setuptools      40.6.2 
six             1.11.0 
smartypants     2.0.1  
typogrify       2.0.7  
Unidecode       1.0.23 
wheel           0.32.3 
